In [1]:
import os
import pandas as pd
import csv

In [4]:
#import data
q1= "Id/2017 q1.csv"
q2= "Id/2017 q2.csv"
q3= "Id/2017 q3.csv"
q4= "Id/2017 q4.csv"
q5= "Id/2018 q1.csv"
q6= "Id/2018 q2.csv"
q7= "Id/2018 q3.csv"
q8= "Id/2018 q4.csv"
q9= "Id/2019 q1.csv"
q10= "Id/2019 q2.csv"
q11= "Id/2019 q3.csv"
q12= "Id/2019 q4.csv"

In [5]:
#set them all as df
q1= pd.read_csv(q1)
q2= pd.read_csv(q2)
q3= pd.read_csv(q3)
q4= pd.read_csv(q4)
q5= pd.read_csv(q5)
q6= pd.read_csv(q6)
q7= pd.read_csv(q7)
q8= pd.read_csv(q8)
q9= pd.read_csv(q9)
q10= pd.read_csv(q10)
q11= pd.read_csv(q11)
q12= pd.read_csv(q12)

In [6]:
#test 1
q1.head(10)

,area_fips,own_code,industry_code,agglvl_code,size_code,year,qtr,disclosure_code,qtrly_estabs,month1_emplvl,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
0,1000,0,10,50,0,2017,1,NaN,122888,1902835,...,25666,1.3,1563134118,7.6,354280606,4.0,-8434461,-5.9,52,6.2
1,1000,1,10,51,0,2017,1,NaN,1211,53361,...,345,0.7,32865757,3.1,0,0.0,0,0.0,34,2.2
2,1000,2,10,51,0,2017,1,NaN,1391,94177,...,1295,1.4,112500542,10.0,-15755,-28.1,-93,-28.1,78,8.5
3,1000,3,10,51,0,2017,1,NaN,3709,212066,...,1809,0.9,152887301,7.6,2622854,2.9,-45951,-4.9,49,6.7
4,1000,5,10,51,0,2017,1,NaN,116577,1543231,...,22217,1.4,1264880518,7.7,351673507,4.0,-8388417,-5.9,51,6.2
5,1000,8,10,96,0,2017,1,NaN,6311,359604,...,3449,1.0,298253600,7.1,2607099,2.9,-46044,-4.9,55,6.1
6,1001,0,10,70,0,2017,1,NaN,861,10672,...,19,0.2,8269580,8.7,1278327,3.0,-15623,-2.3,58,8.5
7,1001,1,10,71,0,2017,1,NaN,12,87,...,7,8.9,29848,3.1,0,0.0,0,0.0,-39,-4.2
8,1001,2,10,71,0,2017,1,NaN,19,592,...,48,9.0,1474530,29.3,0,0.0,0,0.0,147,20.9
9,1001,3,10,71,0,2017,1,NaN,32,1906,...,-4,-0.2,1399834,8.6,-862,-0.8,-5,-0.8,59,9.0

In [7]:
#test 2
q1.columns

Index(['area_fips', 'own_code', 'industry_code', 'agglvl_code', 'size_code',
       'year', 'qtr', 'disclosure_code', 'qtrly_estabs', 'month1_emplvl',
       'month2_emplvl', 'month3_emplvl', 'total_qtrly_wages',
       'taxable_qtrly_wages', 'qtrly_contributions', 'avg_wkly_wage',
       'lq_disclosure_code', 'lq_qtrly_estabs', 'lq_month1_emplvl',
       'lq_month2_emplvl', 'lq_month3_emplvl', 'lq_total_qtrly_wages',
       'lq_taxable_qtrly_wages', 'lq_qtrly_contributions', 'lq_avg_wkly_wage',
       'oty_disclosure_code', 'oty_qtrly_estabs_chg',
       'oty_qtrly_estabs_pct_chg', 'oty_month1_emplvl_chg',
       'oty_month1_emplvl_pct_chg', 'oty_month2_emplvl_chg',
       'oty_month2_emplvl_pct_chg', 'oty_month3_emplvl_chg',
       'oty_month3_emplvl_pct_chg', 'oty_total_qtrly_wages_chg',
       'oty_total_qtrly_wages_pct_chg', 'oty_taxable_qtrly_wages_chg',
       'oty_taxable_qtrly_wages_pct_chg', 'oty_qtrly_contributions_chg',
       'oty_qtrly_contributions_pct_chg', 'oty_avg_wkly_wage_chg',
       'oty_avg_wkly_wage_pct_chg'],
      dtype='object')

In [9]:
# make a list of df, iterate through them dropping the chaff
dataframes=[q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,q11,q12]
for df in dataframes:
    df.drop(columns=['own_code', 'industry_code', 'agglvl_code', 'size_code','disclosure_code','qtrly_contributions',
                    'lq_disclosure_code','lq_qtrly_contributions','oty_disclosure_code'], inplace=True)

In [10]:
# ensure that null columns are dropped
q1.head(10)

,area_fips,year,qtr,qtrly_estabs,month1_emplvl,month2_emplvl,month3_emplvl,total_qtrly_wages,taxable_qtrly_wages,avg_wkly_wage,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
0,1000,2017,1,122888,1902835,1916520,1928087,22243408796,9320258926,893,...,25666,1.3,1563134118,7.6,354280606,4.0,-8434461,-5.9,52,6.2
1,1000,2017,1,1211,53361,53326,53249,1097501786,0,1584,...,345,0.7,32865757,3.1,0,0.0,0,0.0,34,2.2
2,1000,2017,1,1391,94177,95743,96112,1234905196,40315,996,...,1295,1.4,112500542,10.0,-15755,-28.1,-93,-28.1,78,8.5
3,1000,2017,1,3709,212066,212732,213827,2161774107,92603871,781,...,1809,0.9,152887301,7.6,2622854,2.9,-45951,-4.9,49,6.7
4,1000,2017,1,116577,1543231,1554719,1564899,17749227707,9227614740,878,...,22217,1.4,1264880518,7.7,351673507,4.0,-8388417,-5.9,51,6.2
5,1000,2017,1,6311,359604,361801,363188,4494181089,92644186,956,...,3449,1.0,298253600,7.1,2607099,2.9,-46044,-4.9,55,6.1
6,1001,2017,1,861,10672,10720,10769,103447971,43431575,742,...,19,0.2,8269580,8.7,1278327,3.0,-15623,-2.3,58,8.5
7,1001,2017,1,12,87,82,86,994477,0,900,...,7,8.9,29848,3.1,0,0.0,0,0.0,-39,-4.2
8,1001,2017,1,19,592,589,584,6501923,0,850,...,48,9.0,1474530,29.3,0,0.0,0,0.0,147,20.9
9,1001,2017,1,32,1906,1901,1912,17730423,112021,715,...,-4,-0.2,1399834,8.6,-862,-0.8,-5,-0.8,59,9.0

In [11]:
#combine into one dataframe
combined_df = pd.concat(dataframes, axis=0, ignore_index=True)
combined_df

,area_fips,year,qtr,qtrly_estabs,month1_emplvl,month2_emplvl,month3_emplvl,total_qtrly_wages,taxable_qtrly_wages,avg_wkly_wage,...,oty_month3_emplvl_chg,oty_month3_emplvl_pct_chg,oty_total_qtrly_wages_chg,oty_total_qtrly_wages_pct_chg,oty_taxable_qtrly_wages_chg,oty_taxable_qtrly_wages_pct_chg,oty_qtrly_contributions_chg,oty_qtrly_contributions_pct_chg,oty_avg_wkly_wage_chg,oty_avg_wkly_wage_pct_chg
0,1000,2017,1,122888,1902835,1916520,1928087,22243408796,9320258926,893,...,25666,1.3,1563134118,7.6,354280606,4.0,-8434461,-5.9,52,6.2
1,1000,2017,1,1211,53361,53326,53249,1097501786,0,1584,...,345,0.7,32865757,3.1,0,0.0,0,0.0,34,2.2
2,1000,2017,1,1391,94177,95743,96112,1234905196,40315,996,...,1295,1.4,112500542,10.0,-15755,-28.1,-93,-28.1,78,8.5
3,1000,2017,1,3709,212066,212732,213827,2161774107,92603871,781,...,1809,0.9,152887301,7.6,2622854,2.9,-45951,-4.9,49,6.7
4,1000,2017,1,116577,1543231,1554719,1564899,17749227707,9227614740,878,...,22217,1.4,1264880518,7.7,351673507,4.0,-8388417,-5.9,51,6.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230863,US000,2019,4,302338,22206240,22316982,22223972,337255376963,6577958513,1166,...,195086,0.9,12278265351,3.8,206530176,3.2,-3949244,-13.0,32,2.8
230864,US000,2019,4,10302653,146690756,147415971,147156501,2245523372885,200504179945,1174,...,1847899,1.3,104660944632,4.9,5151388444,2.6,-166889498,-4.5,40,3.5
230865,USCMS,2019,4,7460628,114753888,115428587,115292213,1842048205085,152518631752,1230,...,1585344,1.4,84716578549,4.8,4441528841,3.0,-104228327,-3.7,40,3.4
230866,USMSA,2019,4,8391197,129578942,130349516,130164882,2052944733129,169996288204,1214,...,1862842,1.5,96488547900,4.9,5015282665,3.0,-123074775,-3.9,40,3.4
230867,USNMS,2019,4,1972621,19948732,19910805,19840421,256382373923,30507891741,991,...,13266,0.1,9434381726,3.8,136105779,0.4,-43814723,-8.1,36,3.8

In [ ]:
combined_df.to_csv('2017-2019', index=False)