In [2]:
import pandas as pd

In [3]:
path='CleanData.csv'
df=pd.read_csv(path)
df.head(10)

,area_code,quarter,year,establishments,total_employed,total_wages,taxable_wage,average_weekly_wage,%chg_lq_estabishments,%chg_total_emp,%chge_lq_total_qtrly_wages,%chge_lq_taxable_wages,%chge_avg_wkly_wage
0,1001,1,2020,1778,66384,238572054,97010816,4319,9.20,1.136000,1.190,0.452,1.024
1,1003,1,2020,13072,452026,1439657260,749596298,4103,4.58,0.780000,0.856,0.624,1.094
2,1005,1,2020,1128,49570,160195240,80797450,4011,12.67,1.164000,1.216,0.626,1.052
3,1007,1,2020,730,29156,110388552,48400892,4670,16.92,1.237333,1.264,0.680,1.036
4,1009,1,2020,1568,51336,152730444,72113324,3616,9.58,1.042667,1.124,0.796,1.034
5,1011,1,2020,360,17762,55307524,29787564,4033,20.42,1.252667,1.400,0.402,1.096
6,1013,1,2020,962,40826,121290058,66895052,3649,10.64,0.787333,0.828,0.474,1.048
7,1015,1,2020,5042,267060,920071262,368232964,4493,8.30,1.870000,2.158,0.494,1.106
8,1017,1,2020,1246,51340,165330130,79057962,3811,12.50,0.946000,1.028,0.570,1.012
9,1019,1,2020,830,30778,87242788,45283196,3580,13.01,1.045333,1.180,0.740,1.080

In [7]:
df["id"] = df.index + 1
df.columns

Index(['area_code', 'quarter', 'year', 'establishments', 'total_employed',
       'total_wages', 'taxable_wage', 'average_weekly_wage',
       '%chg_lq_estabishments', '%chg_total_emp', '%chge_lq_total_qtrly_wages',
       '%chge_lq_taxable_wages', '%chge_avg_wkly_wage', 'id'],
      dtype='object')

In [8]:
df=df[['id','area_code', 'quarter', 'year', 'establishments', 'total_employed',
       'total_wages', 'taxable_wage', 'average_weekly_wage',
       '%chg_lq_estabishments', '%chg_total_emp', '%chge_lq_total_qtrly_wages',
       '%chge_lq_taxable_wages', '%chge_avg_wkly_wage']]
df.head()

,id,area_code,quarter,year,establishments,total_employed,total_wages,taxable_wage,average_weekly_wage,%chg_lq_estabishments,%chg_total_emp,%chge_lq_total_qtrly_wages,%chge_lq_taxable_wages,%chge_avg_wkly_wage
0,1,1001,1,2020,1778,66384,238572054,97010816,4319,9.20,1.136000,1.190,0.452,1.024
1,2,1003,1,2020,13072,452026,1439657260,749596298,4103,4.58,0.780000,0.856,0.624,1.094
2,3,1005,1,2020,1128,49570,160195240,80797450,4011,12.67,1.164000,1.216,0.626,1.052
3,4,1007,1,2020,730,29156,110388552,48400892,4670,16.92,1.237333,1.264,0.680,1.036
4,5,1009,1,2020,1568,51336,152730444,72113324,3616,9.58,1.042667,1.124,0.796,1.034

In [9]:
#save the df
df.to_csv('CleanData.csv', index=False)

In [10]:
#Year
year=df[['id','quarter', 'year']]
year.to_csv('yearDf.csv', index=False)

In [11]:
#Industry
industry=df[['id','area_code', 'establishments', 'total_employed',
       'total_wages', 'taxable_wage']]
industry.to_csv('industryDf.csv',index=False)

In [12]:
#Wages
wages=df[['id','total_wages', 'average_weekly_wage',
       '%chg_lq_estabishments', '%chg_total_emp', '%chge_lq_total_qtrly_wages',
       '%chge_lq_taxable_wages', '%chge_avg_wkly_wage']]
wages.to_csv('wagesDf.csv', index= False)